/* ================================================
 * impact_home.css
 =================================================*/
.jagPage 
{
	background-image: none;
    background-color: #dbdbbf;
}

.jagBanner
{
    background: url(web_2004.jpg);
    height: 584px;
}

/* ------------------------------------------------
 * Desktop panes
 -------------------------------------------------*/
.jagThreePanes
{
    background-image: none;
    background-repeat: no-repeat;
    background-color: #dbdbbf;
}
.jagPaneLeft {
    width: 190px;
}
.jagPaneContent-L {
    width: 577px;
}
.jagPaneContent-LR {
    width: 296px;
    border-right: 0px;
}
.jagPaneRight {
    width: 281px;
    margin-left: 0px;
    border-left: 0px;
}

/* ------------------------------------------------
 * Other
 -------------------------------------------------*/
#home
{
	border-right: thin;
	padding-right: 10px;
	border-top: thin;
	padding-left: 10px;
	font-weight: bold;
	font-size: 13pt;
	border-left: #264866 3px solid;
	line-height: 18pt;
	border-bottom: thin;
	font-family: 'Courier New';
	text-align: left;
}
#home2
{
	border: #264866 1px dashed;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 12pt;
	padding-bottom: 10px;
	margin: 5px;
	line-height: 16pt;
	padding-top: 10px;
	font-family: 'Courier New';
	background-color: #e7e7d6;
	text-align: center;
}
