/* ================================================
 * menu.css
 =================================================*/

/* ------------------------------------------------
 * Top (portal) menu
 -------------------------------------------------*/
.jagMenu
{
    position: absolute;
    top: 83px;
    left: -35px;
}
.jagMenu ul li ul
{
    display: none;
}

#jagMenu_UL0 li
{
    display: inline;
    padding-left: 0px;
    background-repeat: no-repeat;
}

#jagMenu_UL0 a, #jagMenu_UL0 span
{
    padding-left: 15px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 13pt;
    font-family: 'Courier New';
    text-decoration: none;
}

#jagMenu_UL0 a:link, #jagMenu_UL0 a:visited
{
    padding-left: 20px;
    color: #264866;
}

#jagMenu_UL0 a:hover
{
    color: black;
    padding-left: 20px;
    background: url(arrow.gif);
    background-repeat: no-repeat;
}

#jagMenu_UL0 li .jagMenuUL
{
    display: none;
}

.jagSelected
{
    background-color: #AFAE99;
}


/* ------------------------------------------------
 * Menu List module (submenu)
 -------------------------------------------------*/
.jagModule_MenuList ul#jm_UL0
{
	width: 186px;
	\width: 188px;
	w\idth: 186px;
	padding: 0px;
    border-right: #000 1px solid;
    border-top: #000 1px solid;
    border-left: #000 1px solid;
    border-bottom: #000 1px solid;
	margin: 0px;
	background: #e7e7d6;
    font-size: 9pt;
    font-family: 'Courier New';
}

.jagModule_MenuList ul#jm_UL0 li
{
	list-style: none;
	margin: 0px;
	border: 0px;
	border-top: 1px solid #808080;
}

.jagModule_MenuList ul#jm_UL0 li a
{
	display: block;
	width: 162px;
	\width: 198px;
	w\idth: 162px;
	padding: 4px 8px 4px 8px;
	border: 0px;
	border-left: 8px solid #aaaabb;
	text-decoration: none;
	text-align: right;
}

.jagModule_MenuList ul#jm_UL0 li a:link { color: #333333; }
.jagModule_MenuList li a:visited { color: #333333; }

.jagModule_MenuList ul#jm_UL0 li a:hover
{
    border-left: 8px solid #256EA3;
    background-color: #5896CB;
    color: #fff;
}
.jagModule_MenuList .jagSelected A
{
    background-color: #AFAE99;
    color: black;
}
