
body.js-login { 
    background-image: url(../img/LZHSWSMKVNEIPPOJEFLU6FXBGM.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #2f4050; /*#999;*/
}

body.js-login .loginColumns {
    background-color: white;
    margin: 100px auto 0;
    padding: 20px;
}

body.js-login .ibox-content {
    border: 0;
}

body.js-index .js-menu .widget {
    min-height: 225px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


/**/
.table thead > tr > th.np-sorting {
    border-bottom: 2px solid #888;
}
.table thead > tr > th.np-sorting i.fa-sort-asc {
    vertical-align: bottom;
}
.table thead > tr > th.np-sorting i.fa-sort-desc {
    vertical-align: top;
}
.table.table-hover tbody tr {
    cursor: pointer;
}
.table .btn {
    font-weight: bold;
}

.text-extra-muted {
    color: #AAA;
}

.no-left-padding {
    padding-left: 0 !important;
}

.agile-list {
    font-size: larger;
}


.table-header-rotated {
    border-collapse: collapse;
}
.table-header-rotated td {
    width: 30px;
}
.table-header-rotated td {
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #ccc;
}
.table-header-rotated th.rotate {
    height: 140px;
    white-space: nowrap;
}
/*
.table-header-rotated th.rotate > div.r-w {
    transform: translate(43px, 49px) rotate(315deg);
    width: 30px;
}
.table-header-rotated th.rotate > div.r-w > div.r-wt {
    margin-left: -16px;
}
.table-header-rotated th.rotate > div.r-w > div.r-wb {
    border-bottom: 1px solid #ccc;
    padding: 0 16px 8px 0;
    width: 160px;
}
*/
.table-header-rotated th.rotate > div.r-w {
    transform: translate(46px, 50px) rotate(315deg);
    width: 30px;
}
.table-header-rotated th.rotate > div.r-w > div.r-wt {
    margin-left: -11px;
    padding: 0 0 2px 4px;
}
.table-header-rotated th.rotate > div.r-w > div.r-wb {
    border-bottom: 1px solid #ccc;
    width: 160px;
}
/**/
.table-header-rotated th.row-header {
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
}

.js-matrix .name {
    font-weight: bold;
    text-align: left;
}
.js-matrix .late {
    background-color: rgba(255, 0, 0, 0.15);
}


.report-wrapper {
    display: none;
}

.report .wrapper {
    display: none;
}
.report .footer {
    display: none;
}
.report .report-wrapper {
    display: block;
    font-size: 75%;
}
.report .report-wrapper h2 { font-size: 18px; }
.report .report-wrapper h3 { font-size: 14px; font-weight: normal; }
.report .report-wrapper h4 { font-size: 12px; font-weight: normal; }

.report-header {
    margin-bottom: 24px;
}

@media print {
    .report .wrapper {
        padding: 0.5in 0 0 0;
    }
    .report .ibox-content {
        padding: 0;
    }
}